.home img{
    width: 40%;
    background-color: #fff;
}
.home{
    background-color: #F4F4F4;
    padding-bottom: 10%;
}
.date span{
    padding: 0;
    background-color: blue;
    color: yellow;
}
.symptoms span{
    color: red;
}
.symptoms,.contact{
    color: blue;
}
.contact span{
    background-color:#1E90FF ;
    color: #fff;
}
.home div:last-child{
    text-align: center;
    width: 75%;
}
.home div:last-child p{
    font-size: 110%;
    text-align: justify;
    padding: 3% 8%;
    line-height: 35px;
    font-family: 'Roboto';
}