.nav {
  background-color: #2196f3;
  height: 8vh;
}
.nav > div > button {
  color: #fff;
  height: 100%;
  background-color: #1d84d5;
  border: none;
  display: inline-block;
  padding: 2%;
}
.nav > div {
  height: 100%;
  width: 50%;
  display: inline-block;
}
.nav > div:nth-child(1){
    text-align: left;
}
.nav > div:nth-child(2){
    text-align: right;
}
.nav >div:first-child >button {
  display: inline-block;
  width: 33.34%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
