.sidebar ul{
    list-style-type: none;
    padding: 0;
}
.sidebar li{
    padding: 3% 0%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}
.sidebar li:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}
.sidebar li svg:first-child{
    font-size: 125%;
}
.sidebar li > div > div:nth-child(2){
    font-size: 90%;
    padding-left: 0;
}
.drop{
    background-color: rgba(236, 236, 236,0.5);
    font-size: 90%;
    text-align: left;
}
.drop:hover{
    background-color: #ececec;
}